/* Borders */
.border{
    border: 0.5px solid rgb(183, 183, 183);
}
.border-top{
    border-top: 0.5px solid rgb(183, 183, 183);
}
.border-bottom{
    border-bottom: 0.5px solid rgb(183, 183, 183);
}
.border-left{
    border-left: 0.5px solid rgb(183, 183, 183);
}
.border-right{
    border-right: 0.5px solid rgb(183, 183, 183);
}

/* ROUNDED CORNERS */
.rounded{
    border-radius: 5px;
}
.rounded-more{
    border-radius: 8px;
}
.rounded-top{
    border-radius: 5px 5px 0px 0px;
}
.rounded-bottom{
    border-radius: 0px 0px 5px 5px;
}
.rounded-right{
    border-radius: 0px 5px 5px 0px;
}
.rounded-left{
    border-radius: 5px 0px 0px 5px;
}
.rounded-alternate-1{
    border-radius: 5px 0px 5px 0px;
}
.rounded-alternate-2{
    border-radius: 0px 5px 0px 5px;
}
.rounded-circle{
    border-radius: 100%;
}

/* Border Colors */
.border-white{
    border-color: white;
}
.border-red{
    border-color: red;
}
.border-black{
    border-color: black;
}
.border-blue{
    border-color: blue;
}
.border-green{
    border-color: green;
}
.border-yellow{
    border-color: yellow;
}
